@import "../../styles/scss/helpers";

.thumb {
    cursor: pointer;
    font-size: 30px;
    margin-left: 5px;
}

@include bp(xs) {
    .thumb {
        font-size: 30px;
    }
}

.general-data {
    display: inline-flex;
    vertical-align: middle;
}