.thumb-icon {
    cursor: pointer;
    margin-top: 75px;
    position: absolute;
}


.thumb-icon {
    cursor: pointer;
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 13px;
    position: absolute;
    @include bp(xs) {
        margin-top: 75px;
    }
}




.inline-container:nth-child(3){
    margin-bottom: 50px;
}