@import "../../styles/scss/helpers";


img {
    margin-bottom: 0.5rem;
}

.users-container {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
}

@include bp(sm) {
    .users-container {
        justify-content: space-evenly;
    }
}

@include bp(xs) {
    .thumb {
        font-size: 30px;
    }
}