body{
    color: rgb(214, 79, 79);
    font-family: Lato, sans-serif;
    font-size: 1.5em;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 50%, rgba(45,253,132,1) 100%); 
    background-repeat: no-repeat;
    height: 100rem;
}

.info-container{
    line-height: 20px;
    font-size: 1.3rem;
    text-align: center;
}

img{
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1028px){
        .info-container{
            font-size: 1em;
        }
    }

@media screen and (max-width: 480px){
        .info-container{
            font-size: 0.9em;
        }
    }