img{
    margin-bottom: 0.5rem;
}

.users-container {
display: flex;
flex-flow:  wrap;
align-content: center;
align-items: stretch;
justify-content: space-around;
}

@media screen and (max-width: 768px){
    .users-container {
        justify-content: space-evenly;
        margin: 10px 10px;
        }
}

@media screen and (max-width: 480px){
    .thumb{
        font-size: 30px;
    }
}