@import "../../styles/scss/helpers";

.plus-circle-icon,
.minus-circle-icon {
    cursor: pointer;
    @include bp(xs) {
        margin-top: -10px;
    }
}

.minus-circle-icon {
    margin-left: 30px;
        @include bp(xs) {
            margin-left: 200px;
    }
}


.plus-circle-icon {
    margin-left: 20px;
}
