@import "../../styles/scss/helpers";

.eye-icon {
    cursor: pointer;
    margin-left: 50px;
    // margin-right: 0px;
    // margin-top: 18px;
    @include bp(xs) {
        margin-left: 0px;
        margin-top: -10px;
    }
}
