@import "../../styles/scss/helpers";

.eye-icon {
    cursor: pointer;
    margin-left: 45px;
    @include bp(xs) {
        margin-left: 0px;
        margin-top: -10px;
    }
    :hover{
        color: red;
    }
}
