#thumb{
    cursor: pointer;
}

.btn-add{
    background-color: rgb(46, 172, 255); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
    border-radius: 0.5em;
    margin-right: 10px;
}

.btn-add:hover{
    background-color: rgb(30, 165, 255); /* Green */
}