@import "../../styles/scss/helpers";

.plus-circle-icon,
.minus-circle-icon {
    cursor: pointer;
    margin-top: 75px;
    position: absolute;
}

.plus-circle-icon {
    margin-left: 50px;
}

.left-circle-icon {
    margin-left: 0px;
}

@include bp(xs) {

    h3 {
        margin-top: 15%;
    }
}