@import "../../styles/scss/helpers";

.btn-add,
.btn-delete {
    background-color: rgb(46, 172, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
    border-radius: 0.5em;
    margin-right: 10px;
    font-weight: bold;
}

.btn-add {
    background-color: rgba(0, 255, 0, 0.9);
    &:hover {
        background-color: rgba(0, 255, 0, 1);
    }
}

.btn-delete {
    background-color: rgba(255, 0, 0, 0.9);

    &:hover {
        background-color: rgba(255, 0, 0, 1);
    }
}

@include bp(xs) {

    .btn-add,
    .btn-delete {
        padding: 12px 17px;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .btn-add {
        margin-left: 30px;
    }

    .btn-delete {
        margin-right: 30px;
        margin-left: 10px;
    }

    h3 {
        margin-top: 15%;
    }
}